[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
click = "*"
tox = "*"

[packages]
flask = "*"
flask-script = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_version = "3.6"
